.game-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-card {
  width: 1000px;
  height: 700px;
  text-align: center;
  position: relative;
  border-radius: 8px;
  overflow: hidden;
  display: grid;
  grid-template-columns: 1.5fr 1fr 1fr 1fr;
  grid-template-areas:
    "player-list game-section game-section game-section"
    "player-list game-section game-section game-section"
    "player-list game-section game-section game-section"
    "player-list game-section game-section game-section"
    "player-list game-section game-section game-section"
    "player-list game-section game-section game-section";
  border: none;
}

.player-list {
  grid-area: player-list;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  border-left: 1px solid #0090dd;
  border-right: 1px solid #0090dd;
  border-bottom: 1px solid #0090dd;
  border-bottom-left-radius: 8px;
}

.player-icon {
  font-size: 15px;
  margin-bottom: 4px;
  margin-right: 5px;
}

.red {
  color: red !important;
}
.green {
  color: green !important;
}

.player-list-title {
  background: linear-gradient(to left, #3b5998, #0090dd);
  color: whitesmoke;
  line-height: 50px;
}
.player-name {
  height: 30px;
  line-height: 30px;
  width: 100%;
  left: 10px;
  margin-left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-section {
  grid-area: game-section;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}

.info-bar {
  width: 100%;
  height: 50px;
  background: linear-gradient(to right, #3b5998, #0090dd);
}

.game-screen {
  height: 100%;
  position: relative;
}
.ocean {
  height: 100%;
  z-index: 0;
}

.gridMap {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  display: grid;
  grid-template-columns: 66.7px 66.7px 66.7px 66.7px 66.7px 66.7px 66.7px 66.7px 66.7px 66.7px;
  grid-template-rows: 65px 65px 65px 65px 65px 65px 65px 65px 65px 65px;
  width: 100%;
  cursor: pointer;
  grid-template-areas:
    "grid-0 grid-1 grid-2 grid-3 grid-4 grid-5 grid-6 grid-7 grid-8 grid-9"
    "grid-10 grid-11 grid-12 grid-13 grid-14 grid-15 grid-16 grid-17 grid-18 grid-19"
    "grid-20 grid-21 grid-22 grid-23 grid-24 grid-25 grid-26 grid-27 grid-28 grid-29"
    "grid-30 grid-31 grid-32 grid-33 grid-34 grid-35 grid-36 grid-37 grid-38 grid-39"
    "grid-40 grid-41 grid-42 grid-43 grid-44 grid-45 grid-46 grid-47 grid-48 grid-49"
    "grid-50 grid-51 grid-52 grid-53 grid-54 grid-55 grid-56 grid-57 grid-58 grid-59"
    "grid-60 grid-61 grid-62 grid-63 grid-64 grid-65 grid-66 grid-67 grid-68 grid-69"
    "grid-70 grid-71 grid-72 grid-73 grid-74 grid-75 grid-76 grid-77 grid-78 grid-79"
    "grid-80 grid-81 grid-82 grid-83 grid-84 grid-85 grid-86 grid-87 grid-88 grid-89"
    "grid-90 grid-91 grid-92 grid-93 grid-94 grid-95 grid-96 grid-97 grid-98 grid-99"
    "grid-100 grid-101 grid-102 grid-103 grid-104 grid-105 grid-106 grid-107 grid-108 grid-109";
}

.grid-id {
  color: white;
  display: flex;
  justify-content: flex-start;
  font-size: 11px;
}

.water-depth {
  color: white;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  font-size: 11px;
  position: absolute;
  bottom: 0;
}

.player-1 {
  font-size: 10px !important;
  width: 30px;
  height: 30px;
  position: absolute;
  right: 5px;
}

.player-2 {
  font-size: 10px !important;
  width: 30px;
  height: 30px;
  position: absolute;
  left: 5px;
}
