@font-face {
  font-family: gilroyBold;
  src: url("./assets/fonts/Gilroy-Bold.ttf");
}
@font-face {
  font-family: gilroyMedium;
  src: url("./assets/fonts/Gilroy-Medium.ttf");
}
html body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  background-color: rgb(228, 227, 227);
}
.App {
  text-align: center;
}

/* Fonts */
.bold {
  font-family: gilroyBold;
}
.medium {
  font-family: gilroyMedium;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.background-blue-layer {
  position: absolute;
  z-index: -10;
  background: linear-gradient(to right, #3b5998, #0090dd) !important;
  height: 100vh;
  width: 100vw;
  clip-path: polygon(0 0, 100% 0%, 100% 83%, 0 18%);
}
